<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div style="background-color: #FFB6C1;height:fit-content;width:100%;text-align:center;">
  {{probaServis1.poruka1}}
</div>
<br>
<div style="background-color: #F0E68C;height:fit-content;width:100%;text-align:center;">
  {{probaServis1.poruka2}}
</div>
<br>
<input (keyup.enter)="probaServis2.posaljiImePrezime()" [(ngModel)]="probaServis2.ime_prezime" style="width:30%;align-self: center">



</body>
</html>
